In [3]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [6]:
# csv to dataframe
df_buses_1=pd.read_csv("df_buses2.csv")
#df_buses_2=pd.read_csv("df_buses_2.csv")
#df_buses_3=pd.read_csv("df_buses_3.csv")
#df_buses_4=pd.read_csv("df_buses_4.csv")
#df_buses_5=pd.read_csv("df_buses_R.csv")
#df_buses_6=pd.read_csv("df_buses_SB.csv")
#df_buses_7=pd.read_csv("df_buses_H.csv")
#df_buses_8=pd.read_csv("df_buses_AS.csv")
#df_buses_9=pd.read_csv("df_buses_9.csv")
#df_buses_10=pd.read_csv("df_buses_10.csv")

#Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                  #  df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
#Final_df

# Data cleaning

In [7]:
# data about the data
df_buses_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         165 non-null    object
 1   Bus_type         165 non-null    object
 2   Start_time       165 non-null    object
 3   End_time         165 non-null    object
 4   Total_duration   165 non-null    object
 5   Price            165 non-null    object
 6   Seats_Available  165 non-null    object
 7   Ratings          165 non-null    object
 8   Route_link       165 non-null    object
 9   Route_name       165 non-null    object
dtypes: object(10)
memory usage: 13.0+ KB

In [8]:
#convert prices to numeric
df_buses_1["Price"]=df_buses_1["Price"].str.replace("INR","")
df_buses_1["Price"]=df_buses_1["Price"].astype(float)
df_buses_1["Price"].fillna(0)

0      398.0
1      600.0
2      398.0
3      749.0
4      398.0
       ...
160    350.0
161    599.0
162    600.0
163    799.0
164    550.0
Name: Price, Length: 165, dtype: float64

In [9]:
#convert Ratings to numeric
df_buses_1["Ratings"]=df_buses_1["Ratings"].str.replace("New","")
df_buses_1["Ratings"]=df_buses_1["Ratings"].str.strip()
df_buses_1["Ratings"]=df_buses_1["Ratings"].str.split().str[0]
df_buses_1["Ratings"] = pd.to_numeric(df_buses_1["Ratings"], errors='coerce')
df_buses_1["Ratings"].fillna(0,inplace=True)

C:\Users\kavin\AppData\Local\Temp\ipykernel_30648\358316442.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_buses_1["Ratings"].fillna(0,inplace=True)

In [10]:
# info after the data type change
df_buses_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         165 non-null    object
 1   Bus_type         165 non-null    object
 2   Start_time       165 non-null    object
 3   End_time         165 non-null    object
 4   Total_duration   165 non-null    object
 5   Price            165 non-null    float64
 6   Seats_Available  165 non-null    object
 7   Ratings          165 non-null    float64
 8   Route_link       165 non-null    object
 9   Route_name       165 non-null    object
dtypes: float64(2), object(8)
memory usage: 13.0+ KB

In [11]:
Final_df = df_buses_1[df_buses_1["Price"] <= 7000]

In [12]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [13]:
# change dataframe to csv
path=r"C:\Users\kavin\Desktop\Redbus project\Final_busdetails_df_andhra.csv"
Final_df.to_csv(path,index=False)

# Create a mysql database

In [14]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="kavi",database="RED_BUS_DETAILS")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [13]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [14]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully